.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loading {
  height: 100vh;
  width: 100vw;
  opacity: 0.6;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100001;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
  margin: auto 10px;
}

.pane {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-items: flex-start;
}

.quote-info {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  background-color: white;
  border: black solid 2px;
  height: 50%;
  text-align: left;
  align-items: flex-start;
  justify-items: flex-start;
  border-radius: 8px;
  padding: 16px;
}

@media only screen and (max-width: 1024px) {
  .quote-info {
    flex-direction: column;
  }

  .quote-info-chart {
    height: 700px !important;
  }
}

.quote-info span {
  margin: 4px;
  color: black;
  font-size: 13px;
}

/* Make it move */
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
